@import 'reset.css';

select{width:136px; height:36px; border:1px solid #d9d9d9; padding:0 6px;}
select.wide{width:calc(100% - 32px); margin:0 15px}
select.wide.mt10{margin-top:10px}
input{width:136px; height:32px; border:1px solid #d9d9d9; padding:0 6px;}
input.disabled{background-color:rgb(238, 238, 238);}
input[type="checkbox"]{width:18px;}
input[type="radio"]{width:18px;}
span.radio_txt{font-size:14px; position:relative; top:-10px;}
input.wide{width:calc(100% - 44px); margin:0 15px}
input.wide.mt10{margin-top:10px}
button{padding:8px 10px 8px 10px; font-size:13px; border:2px solid #000; background-color:#fff; border-radius:4px; cursor:pointer;}
button.active{color:#fff; background-color:#000;}
button.message{padding:5px 5px 5px 5px; background-color:#f2f2f2; border:1px solid #d9d9d9; color:#7f7f7f; letter-spacing:-1.5px;}
.btn_paging{margin-top:20px; text-align:center; color:rgb(117, 117, 117); height:140px;}
.btn_paging .left{float:left; line-height:30px; font-size:14px}
.btn_paging .center > button{border:1px solid #d9d9d9;}
.btn_paging .right{float:right; position:relative; top:-35px; font-size:14px}
table{width:100%;}
table > thead > tr > td{text-align:center; border:1px solid #d9d9d9; font-size:14px; padding:14px 20px}
table > thead > tr > td:nth-of-type(1){padding-left:5px; padding-right:5px}
table > thead > tr > td:nth-of-type(2){padding-left:5px; padding-right:5px}
table > thead > tr > td:nth-of-type(3){padding-left:50px; padding-right:50px}
table > tbody > tr:nth-child(odd){background-color:#f2f2f2;}
table > tbody > tr{height:40px;}
table > tbody > tr > td{text-align:center;  vertical-align:middle; font-size:14px; border:1px solid #d9d9d9;}
table > tbody > tr > td.no-res{color:red}
label{display:block; font-size:14px; margin-bottom:10px; color: rgb(80, 80, 80); position: relative;}
label .circle{display:inline-block; width:4px; height:4px; border-radius:50%; background-color:#000; position: relative; top:-2px; margin-right:6px;}
label input{margin-left:30px;}
textarea{width:373px;}

.wrap{min-width:1600px;}

/* aside */
#aside{overflow:hidden;position:absolute;top:0;left:0;width:240px;height:1600px;background-color:#262626;}
#aside h1 a{display: flex;align-items: center;justify-content:center;height:50px; background-color:#000000; font-size:20px; font-weight:bold}
.gnb{background:#262626}
.gnb a{display:block; font-size:14px}
.gnb>li>a{padding:25px;background:#262626;color:#fff;white-space:nowrap}
.gnb>li>a>i{float:right;}
.gnb>li+li>a{border-top:1px solid #4c505c}
.gnb .last_list{border-bottom:1px solid #4c505c}
.gnb .dep2{display:none; padding:10px 25px;color:#7d858d;background:#313131}
.gnb .dep2.active{display:block}
.gnb .dep2>li{padding:20px 0}
.gnb .dep2>li+li{border-top:1px solid #545760}
.gnb .dep2>li>a{display:inline-block;padding-right:30px;background-size:21px;color:#fff}
.gnb .dep2>li>a.on{background-size:21px;color:#00b0f0}

.right_section{width:100%;}
.right_section .header{width:100%; height:50px; background-color:#262626; padding-left:200px; box-sizing:border-box;}
.right_section .header > ul{float:right;}
.right_section .header > ul > li{float:left;}
.right_section .header > ul > li > a{display:inline-block; line-height:50px; font-size:12px;}
.right_section .header > ul > li:nth-of-type(1){margin-right:18px;}
.right_section .header > ul > li:nth-of-type(2){padding:0 16px; padding-bottom:2px; border-left:1px solid rgba(255, 255, 255, 0.3); border-right:1px solid rgba(255, 255, 255, 0.3);}
.right_section .header > ul > li:nth-of-type(2) > a{font-size:11px;}
.right_section .header > ul > li:nth-of-type(3){margin:5px 10px 0 9px; height:0;}
.right_section .contain_header{height:50px; background-color:#f2f2f2; width:100%; padding-left:240px; box-sizing:border-box;}
.right_section .contain_header > h1{font-size:14px; line-height:50px; margin-left:10px; font-weight:bold; color:#7f7f7f; display:inline-block;}
.right_section .contain_header .route{float:right; line-height:50px; font-size:12px; margin-right:-168px; color:#7f7f7f;}
.right_section .contain_header .route > p{float:left;}
.right_section .contain_header .route > span{float:left; margin:0 3px;}

.right_section .container{padding:0 20px 0 260px;}
.right_section .container .tab{width:100%; height:50px; margin-top:20px; box-sizing:border-box; border-bottom:1px solid #7f7f7f;}
.right_section .container .tab_left .tab-item{width:160px; height:51px; float:left; line-height:48px; padding-left:14px; font-size:14px;box-sizing:border-box; border:1px solid #7f7f7f; position:relative; top:-1px; left:-1px; border-radius:8px 8px 0 0; cursor:pointer;}
.right_section .container .tab_left .tab-item:nth-of-type(2){position: relative; left:-2px}
.right_section .container .tab_left .tab-item:nth-of-type(3){position: relative; left:-3px}
.right_section .container .tab_left .tab-item.active{border-top:2px solid #0e77c2;border-right:2px solid #0e77c2;border-left:2px solid #0e77c2;border-bottom:1px solid #fff; font-weight:bold;}
.right_section .container .tab_right{float:right; position: relative; top:14px; font-size:14px; margin-right:14px;}
.right_section .container .tab_right > p{float:left;}
.right_section .container .tab_right > span{float:left; position: relative; top:-2px; opacity:0.9;}
.right_section .container .info{width:100%; background-color:#f2f2f2;margin-top:20px; border:1px solid #e2e2e2; padding:10px; box-sizing:border-box;}
.right_section .container .info > button{float:right;}
.right_section .container .grid_btn{margin:20px 0;}
.right_section .container .grid_btn .message{float:right; margin-left:6px; margin-top:5px}

.footer{height:28px; width:100%; text-align:center; line-height:28px; position:fixed; bottom:0; background-color:#7f7f7f; color:#ffffff; font-size:12px;}

/* modal */
.modal {position: fixed;z-index: 10;left: 0;top: 0;width: 100%;height: 100%;overflow: auto; transition:0.3s; visibility:hidden; opacity:0;}
.modal .modal-box{width:1000px; height: 520px; background-color:#fff; position: absolute; left:50%; top:50%; transform:translate(-50%, -50%); border:1px solid rgb(124, 124, 124);}
.modal .overlay{background-color: rgba(0,0,0,0.5); width:100%; height:100%;}
.modal-box .modal-header{height:40px; background-color:#000;}
.modal-box .modal-header h1{color:#fff; font-size:14px; padding:12px 0 0 10px;}
.modal-box .modal-header i{color:#fff; float:right; position: relative; top:-12px; right:10px; cursor: pointer;}
.modal-box .modal-left{padding-left:10px; float: left;}
.modal-box .modal-left .ml-top{width:400px; height:350px; background-color:#f2f2f2; padding:10px 0 0 20px; border:1px solid rgb(211, 211, 211);}
.modal-box .modal-left .ml-top form button{position: relative; left:160px; top:10px; box-shadow:3px 3px 5px 0px rgba(0,0,0,0.5);}
.modal-box .modal-left .ml-top form label:nth-of-type(1) input{position: relative; left:14px}
.modal-box .modal-left .ml-top form .last_label{position:absolute; bottom:64px}
.modal-box .modal-left > p{position: relative; top:75px; font-size:14px; text-align: center; color:red; font-weight:bold;}
.modal-box .modal-right{width:558px; float:right; padding:10px 0 0 0; height:280px; position: relative; top:-1px}
.modal-box .modal-right form label select{position: relative; left:36px; height:34px;}
.modal-box .modal-right form label button{border:0px none; position: relative; left:-6px; border-radius:0; height:34px; top:1px; background-color:#f2f2f2; border:1px solid #dbdbdb;}
.modal-box .modal-right form .pop_grid{overflow-y:scroll; height:260px;}
.modal-box .modal-right form .pop_grid > table > thead > tr > td{padding:5px 0}
.modal-box .modal-right form .footer_label{margin-top:14px;}
.modal-box .modal-right form .footer_label > label > input{width:75px; margin-left:10px;}
.modal-box .modal-right form .footer_label > label.short{float:left; margin-right:30px;}
.modal-box .modal-right form .footer_label > label.foo-la{position:absolute; bottom:-126px}
.modal-box .modal-right form .footer_label > label.foo-la > input{width:261px;}
.modal-box .modal-right form .footer_label > label.foo-la > button{margin-left:9px; background-color:#000; color:#fff; box-shadow:3px 3px 5px 0px rgba(0,0,0,0.5); border:1px solid #000; border-radius:4px;}

/* login.html */
.login-top{width:100%; height:50px; background-color:#262626; color:#fff;}
.login-top > span{display:block; width:30px; height:30px; border-radius:50%; margin:0 auto; border:2px solid #fff; text-align:center; line-height:30px; font-weight:bold; position:relative; top:7px}
.login-main{width:1000px; height:600px; border:1px solid rgb(179, 179, 179); position:absolute; transform:translate(-50%, -50%); left:50%; top:50%}
.login-main{display:flex; border-radius:10px; box-shadow:0px 0px 23px 0px rgba(0,0,0,0.75);}
.login-main .log_left{width:50%; border-right:1px solid rgb(179, 179, 179);}
.login-main .log_right{width:50%;}
.login-main .log_right > span{display:block; width:34px; height:34px; border-radius:50%; margin:0 auto; border:2px solid #000; text-align:center; line-height:32px; font-weight:bold; font-size:22px; margin-top:30px}
.login-main .log_right > h1{margin:80px 0 0 80px; font-size:18px; font-weight:bold;}
.login-main .log_right input{display:block; margin-left:60px; width:360px; border:0px none; border-bottom:1px solid rgb(179, 179, 179);}
.login-main .log_right input:nth-of-type(1){margin-top:100px}
.login-main .log_right input:nth-of-type(2){margin-top:20px}
.login-main .log_right button{margin-left:60px; margin-top:50px; width:360px; border-radius:20px; background-color:#000; color:#fff; box-shadow:5px 5px 5px 0px rgba(0,0,0,0.75);}
.login-main .log_right p{text-align:center; font-size:16px; margin-top:60px; color:rgb(238, 10, 10)}
.login-main .log_right p i{margin-right:6px; color:#0e77c2}

/* dashboard.html */
.right_section .container .dashboard-top{width:100%; height:305px; margin-top:20px; border:1px solid rgb(189, 189, 189);}
.right_section .container .dashboard-top .one_depth{display:flex;}
.right_section .container .dashboard-top .one_depth > li{width:25%; text-align:center; position:relative;}
.right_section .container .dashboard-top .one_depth > li > span{display:block; width:40px; height:40px; background-color:rosybrown; font-size:13px; margin:0 auto; line-height:40px; border-radius:50%; color:#fff; background-color:#000; margin-top:16px}
.right_section .container .dashboard-top .one_depth > li > p{margin-top:16px; font-size:14px; color:rgb(121, 121, 121); font-weight:bold;}
.right_section .container .dashboard-top .one_depth > li .full-line{width:370px; height:2px; border-radius:2px; background-color: rgb(212, 212, 212); margin:0 auto; margin:16px auto 22px;}
.right_section .container .dashboard-top .one_depth > li .ing-line{width:100px; height:2px; background-color:#0e77c2; position:relative;}
.right_section .container .dashboard-top .one_depth > li .vertical-line{width:1px; height:60px; background-color:rgb(189, 189, 189); position:absolute; right:-1px; top:72px}
.right_section .container .dashboard-top .two_depth{padding:0 16px;}
.right_section .container .dashboard-top .two_depth > li{display:flex; justify-content:space-between; margin-bottom:22px; font-size:14px; color:rgb(121, 121, 121); font-weight:bold;}
.right_section .container .dashboard-top .two_depth > li > p > span{color:#0e77c2}
.right_section .container .dashboard-bottom{width:100%; height:500px; margin-top:20px; border:1px solid rgb(189, 189, 189); text-align:center; line-height:500px;}

/* member.html */
.info.member select:nth-of-type(1){margin-right:15px}
.info.member select:nth-of-type(2){margin-right:15px;}
.info.member select:nth-of-type(3){margin-right:15px; margin-left:15px;}
.info.member select:nth-of-type(4){margin-right:15px; margin-left:15px;}

/* memberCompensationDetail.html */
.right_section .container .form_btn{margin:20px 0; float:right;}
.right_section .container .form_btn > button{background-color:rgb(156, 156, 156); color:#fff; border:0px none;}
.right_section .container .form_btn > button.active{background-color:#000;}
.right_section .container .container-box{position:relative;}
.right_section .container .container-box .contain-left{display:inline-block; width:280px; height:619px; margin-top:73px}
.right_section .container .container-box .contain-left .first_box{width:280px; height:290px; border:1px solid rgb(177, 177, 177); box-sizing:border-box; padding:10px; position:relative;}
.right_section .container .container-box .contain-left .first_box .img-box{width:100%; height:100px; border:1px solid rgb(177, 177, 177);}
.right_section .container .container-box .contain-left .first_box .img-box > p{background-color:#000; color:#fff; display:inline-block; margin:6px; font-size:12px; padding:3px 4px; border-radius:5px;}
.right_section .container .container-box .contain-left .first_box .profile-box{width: 100px; height:100px; border:1px solid rgb(177, 177, 177); position:absolute; left:50%; transform:translate(-50%); top:60px; background-color: rgb(141, 163, 231);}
.right_section .container .container-box .contain-left .first_box > p{font-size: 14px; font-weight:bold; color: rgb(59, 59, 59); text-align:center;}
.right_section .container .container-box .contain-left .first_box > p:nth-of-type(1){margin-top: 70px;}
.right_section .container .container-box .contain-left .first_box > p:nth-of-type(2){margin-top:10px}

.right_section .container .container-box .contain-left .second_box{border:1px solid rgb(177, 177, 177); margin-top:10px}
.right_section .container .container-box .contain-left .second_box > h3{font-size:14px; font-weight:bold; background-color:rgb(228, 228, 228); padding:10px; color:rgb(83, 83, 83); border-bottom:1px solid rgb(177, 177, 177);}
.right_section .container .container-box .contain-left .second_box > ul{margin:8px;}
.right_section .container .container-box .contain-left .second_box > ul > li > .mini-box{border:1px solid rgb(177, 177, 177); font-size:13px; height:34px; line-height:34px; margin-bottom:6px; display:flex; justify-content:space-between;}
.right_section .container .container-box .contain-left .second_box > ul > li > .mini-box > div:nth-of-type(1){width:50%; background-color:rgb(228, 228, 228);}
.right_section .container .container-box .contain-left .second_box > ul > li > .mini-box > div:nth-of-type(1) > i{margin:0 4px 0 6px; opacity:0.5;}
.right_section .container .container-box .contain-left .second_box > ul > li > .mini-box > div:nth-of-type(2){width:50%; text-align:right; margin-right:6px;}
.right_section .container .container-box .contain-left .second_box > ul > li > .mini-box > div:nth-of-type(2) > span{color:#0e77c2; font-weight:bold;}

.right_section .container .container-box .contain-left .third_box{border:1px solid rgb(177, 177, 177); margin-top:10px}
.right_section .container .container-box .contain-left .third_box > h3{font-size:14px; font-weight:bold; background-color:rgb(228, 228, 228); padding:10px; color:rgb(83, 83, 83); border-bottom:1px solid rgb(177, 177, 177);}
.right_section .container .container-box .contain-left .third_box > ul{margin:8px;}
.right_section .container .container-box .contain-left .third_box > ul > li > .mini-box{border:1px solid rgb(177, 177, 177); font-size:13px; height:34px; line-height:34px; margin-bottom:6px; display:flex; justify-content:space-between;}
.right_section .container .container-box .contain-left .third_box > ul > li > .mini-box > div:nth-of-type(1){width:50%; background-color:rgb(228, 228, 228);}
.right_section .container .container-box .contain-left .third_box > ul > li > .mini-box > div:nth-of-type(1) > i{margin:0 4px 0 6px; opacity:0.5;}
.right_section .container .container-box .contain-left .third_box > ul > li > .mini-box > div:nth-of-type(2){width:50%; text-align:right;}
.right_section .container .container-box .contain-left .third_box > ul > li > .mini-box > div:nth-of-type(2) > span{float:left; margin-left:6px; font-size:13px}
.right_section .container .container-box .contain-left .third_box > ul > li > .mini-box > div:nth-of-type(2) > i{position:relative; top:4px; color:#0e77c2; margin-right:6px}

.right_section .container .container-box .contain-right{position:absolute; width:calc(100% - 300px); left:300px; top:73px; height:1000px; border-top:1px solid rgb(177, 177, 177)}
.right_section .container .container-box .contain-right .select_tab{margin-top:16px}
.right_section .container .container-box .contain-right .select_tab > span{font-size:15px; font-weight:bold; color:rgb(90, 90, 90)}
.right_section .container .container-box .contain-right .select_tab > span:nth-of-type(2){position:relative; top:-2px}
.right_section .container .container-box .contain-right .select_tab > span.active{color:#0e77c2}
.right_section .container .container-box .contain-right .detail_main{border:1px solid rgb(177, 177, 177); height:950px; margin-top:16px}
.right_section .container .container-box .contain-right .detail_main > p{border-bottom:1px solid rgb(177, 177, 177); padding:10px; background-color:rgb(228, 228, 228); color:rgb(83, 83, 83); font-weight:bold;}
.right_section .container .container-box .contain-right .detail_main label{margin:16px 16px 10px 16px; color:rgb(110, 110, 110); font-weight:bold}
.right_section .container .container-box .contain-right .detail_main input[type="textarea"]{width:calc(100% - 48px); margin-left:16px; height:120px;}
.right_section .container .container-box .contain-right .detail_main > label > span.red{color:rgb(196, 35, 35); margin-left:16px}
.right_section .container .container-box .contain-right .detail_main > label > span.blue{color:#0e77c2; margin-left:16px}
.right_section .container .container-box .contain-right .detail_main .close{display:inline-block; background-color:rgb(196, 196, 196); margin-top:12px; padding:7px 12px; font-size:13px; border-radius:14px;}
.right_section .container .container-box .contain-right .detail_main .close:nth-of-type(1){margin-left:15px}
.right_section .container .container-box .contain-right .detail_main .confirm{width:100%; height:250px; border:1px solid #d9d9d9; margin-left:15px; width:calc(100% - 32px); margin-top:10px; padding:5px 10px; box-sizing:border-box;}
.right_section .container .container-box .contain-right .detail_main .confirm > span{position:relative; top:-11px; margin-right: 10px; font-size:14px}
.right_section .container .container-box .contain-right .detail_main .confirm > label{position:relative; top:-10px}
.right_section .container .container-box .contain-right .detail_main .confirm > input[type="textarea"]{position:relative; top:-10px}
.right_section .container .container-box .contain-right .detail_main .confirm > button{position:relative; top:-1px;}
.right_section .container .container-box .contain-right .detail_main .confirm > button:nth-of-type(1){margin-left:15px}

/* right_section wide */
.right_section .container .container-box.wide .contain-right{left:0; width:100%}

/* serviceBannerInfo.html */
.right_section .container .container-box .contain-right .detail_main.h870{height:870px;}
.right_section .container .container-box .contain-right .detail_main .file_search{position:absolute; height:34px; right:16px; width:120px; background-color:#000; color:#fff; font-size:13px; line-height:16px;}
.right_section .container .container-box .contain-right .detail_main .detail_subbox{margin-top:20px; margin-bottom:40px; padding:10px; background-color:#edf1f4;}
.right_section .container .container-box .contain-right .detail_main .detail_subbox > h3{padding:12px 18px; font-weight:bold; border-bottom:1px solid rgb(175, 175, 175); border-top:1px solid rgb(175, 175, 175); background-color:#fff; border-left:1px solid rgb(175, 175, 175); border-right:1px solid rgb(175, 175, 175);}
.right_section .container .container-box .contain-right .detail_main .detail_subbox > div{display:flex; border-bottom:1px solid rgb(175, 175, 175);}
.right_section .container .container-box .contain-right .detail_main .detail_subbox > div > p{padding:16px 14px; font-size:13px; width:100px; text-align:center; border-right:1px solid rgb(175, 175, 175); background-color:#f7fafe; font-weight:bold; color:rgb(85, 85, 85); border-left:1px solid rgb(175, 175, 175); border-right:1px solid rgb(175, 175, 175); line-height:40px;}
.right_section .container .container-box .contain-right .detail_main .detail_subbox > div > div{width:100%; padding:16px 14px; background-color:#fff; border-right:1px solid rgb(175, 175, 175);}


